<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
	http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context 
		http://www.springframework.org/schema/context/spring-context-4.2.xsd">
		
	<!-- 	BU KOD SU PAKET ILE ILIGIDIR com.mimaraslan.spring -->
	<!-- 
	<bean id="yakit" class="com.mimaraslan.spring.Yakit"/>
		
	<bean id="araba" class="com.mimaraslan.spring.Araba">
		<constructor-arg ref="yakit"/>
	</bean>
	-->
	

	<!-- 	BU KOD SU PAKET ILE ILIGIDIR com.mimaraslan.springinterface -->
	<bean id="yakit" class="com.mimaraslan.springinterface.Benzin"/>
		
	<bean id="araba" class="com.mimaraslan.springinterface.Araba">
		<constructor-arg ref="yakit"/>
	</bean>	
	
</beans>
